<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>

<div class="container text-center">
    <div class="card-body">
        <div class="col-12">
            <a th:href="@{listing}" class="btn btn-success eBtn">Başvurunuz İletildi</a>
        </div>
    </div>
</div>

</body>
</html>