<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>

<h1 th:text="'Yayınlama tarihi: ' + ${yayinlanma}"/>
<h1 th:text="'is Unvanı: ' + ${isUnvani}"/>
<h1 th:text="'İs Tanımı: ' + ${isTanimi}"/>
<h1 th:text="'Eleman Sayısı: ' + ${elemanSayisi}"/>
<h1 th:text="'Son Basvuru Tarihi: ' + ${basvuruTarihi}"/>

<a th:href="@{basvurs/(id=${id})}" class="btn btn-success eBtn">Başvur</a>

</body>
</html>
