<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/2.2.3/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="card">
        <p class="my-5">
            <a th:href="@{save}" class="btn btn-danger eBtn">New Job Listing</a>
        </p>

        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <!-- <th>ID</th> -->
                <th>İs Unvanı</th>
                <th>Eleman Sayısı</th>
                <!-- <th>İs Tanımı</th> -->
                <th>Son Basvuru Tarihi</th>
                <th>İs Tanımı</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="joblisting : ${data.content}">
                <td></td>
                <!-- <td th:text="${joblisting.id}"></td> -->
                <td th:text="${joblisting.isUnvani}"></td>
                <td th:text="${joblisting.elemanSayisi}"></td>
                <!-- <td th:text="${joblisting.isTanimi}"></td> -->
                <td th:text="${joblisting.basvuruTarihi}"></td>
                <td><a th:href="@{detail/(id=${joblisting.id})}" class="btn btn-warning eBtn">İs Tanımı</a></td>
                <td><a th:href="@{state/(id=${joblisting.id})}"
                       th:styleappend="${joblisting.state} ? 'background-color: #33cc33' : 'background-color: #bfbfbf'"
                       class="btn eBtn" th:text="${joblisting.state} ? Active : Passive">Edit</a></td>
                <td><a th:href="@{delete/(id=${joblisting.id})}" class="btn btn-danger eBtn">Delete</a></td>
            </tr>
            </tbody>
        </table>

        <hr/>

        <ul class="nav nav-pills">
            <li class="nav-item" th:each="i : ${#numbers.sequence(0,data.totalPages-1)}">
                <a th:href="@{/(page=${i})}" th:text="${i}" class="nav-link"
                   th:classappend="${currentPage}==${i}?'active':''"></a>
            </li>
        </ul>
    </div>
</div>
</div>
</body>
</html>
